@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 135 116 94;
    --primary-foreground: 229 229 229;
  }

  .green {
    --primary: 21 128 61;
    --primary-foreground: 229 229 229;
  }

  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded-md bg-neutral-500;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border: 1px solid #111827;
  }

  *::-webkit-scrollbar-track {
    @apply bg-neutral-700 py-1 rounded-lg;
  }
}

body {
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer utilities {
  @keyframes bounce-x {
    0%,
    100% {
      transform: translateX(-10%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateX(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
